[submodule "attendance"]
	path = attendance
	url = git@github.com:Ckrlos/attendance-ms.git
	branch = master
[submodule "auth"]
	path = auth
	url = git@github.com:goslynn/edutrack-ms-auth.git
	branch = master
[submodule "commons"]
	path = commons
	url = git@github.com:goslynn/edutrack-ms-commons.git
	branch = master
[submodule "front"]
	path = front
	url = git@github.com:goslynn/edutrack-frontend.git
	branch = master
[submodule "infra"]
	path = infra
	url = git@github.com:goslynn/edutrack-infra.git
	branch = master
[submodule "annotation"]
	path = annotation
	url = git@github.com:goslynn/edutrack-ms-annotation.git
	branch = master
[submodule "assessment"]
	path = assessment
	url = git@github.com:goslynn/edutrack-ms-assessment.git
	branch = master
[submodule "course"]
	path = course
	url = git@github.com:goslynn/edutrack-ms-course.git
	branch = master
[submodule "student"]
	path = student
	url = git@github.com:goslynn/edutrack-ms-student.git
	branch = master
[submodule "bff"]
    path = bff
    url = git@github.com:goslynn/edutrack-bff.git
    branch = master
